:root {
  --feature-background-color: #111;
  --feature-color: #fff;
  --sub-feature-background-color: #222;
  --sub-feature-color: #ddd;
  --data-background-color: #333;
  --data-color: #aaa;
}

body {
  background: rgb(19, 32, 25);
  padding: 0px;
  margin: 0px;
}

table {
  border: none;
  border-collapse: collapse;
}

table td {
  border-left: 1px solid #000;
}

table td:first-child {
  border-left: none;
}

table th {
  border-left: 1px solid #000;
}

table th:first-child {
  border-left: none;
}

* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  /*Don't let select text*/
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.TableHeader {
  height: 2.0em;
  font-size: 1.5em;
  font-variant: small-caps;
  font-style: italic;
  color: var(--feature-color);
  color: #CFC;
}

.TableHeader:hover {
  background-color: #181818;
}

.TableSubHeader {
  height: 1.75em;
  font-size: 1.25em;
  background-color: var(--sub-feature-background-color);
  color: var(--sub-feature-color);
  color: #696;
}

.TableSubHeader:hover {
  background-color: #282828;
}

.TableData {
  height: 1.5em;
  font-size: 1.0em;
  background-color: var(--data-background-color);
  color: var(--data-color);
  text-align: center;
}

.TableData:hover {
  background-color: #383838;
}



@keyframes flash {
  0% {
    filter: brightness(100%);
  }

  10% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes flash2 {
  0% {
    filter: brightness(100%);
  }

  10% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}

.Flash {
  animation-name: flash;
  animation-duration: 1s;
}

.Flash2 {
  animation-name: flash2;
  animation-duration: 1s;
}

.RowTable {
  margin: 0 auto;
  width: 100%;
}

.Row {
  display: flex;
  overflow-x: hidden;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: solid #020 0.5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Row:nth-child(even) {
  background-color: #111;
}

.Row:nth-child(odd) {
  background-color: #111;
}

.LeftToRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TopToBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RowItem {
  padding-top: 0px;
  padding-bottom: 0px;
}

.ColumnItem {
  padding-left: 0px;
  padding-right: 0px;
}

#main {
  position: fixed;
  width: 100%;
  height: calc(100% - 1.5em - 12px);
  overflow-y: scroll;
}

#randomize {
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 1.5em;
  background-color: #081808;
  color: var(--feature-color);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  line-height: 0;
}

#randomize:hover {
  cursor: pointer;
  filter: brightness(130%);
}

#randomize:active {
  cursor: pointer;
  filter: brightness(80%);
}
